

<form id="ticketsForm">
    <label for="adultCount">Adults (18-65)</label>
    <input type="number" id="adultCount" name="adultCount" >
    <label for="JuniorCount">Junior (16-18)</label>
    <input type="number" id="juniorCount" name="juniorCount" >
    <label for="SeniorCount">Adults (65+)</label>
    <input type="number" id="seniorCount" name="seniorCount" >
</form>

Total:
<div id="totalPriceTickets">00</div>

<!--JQuerry-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!--Import jQuery before materialize.js-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>-->
<script type="text/javascript" src="../Design/materialize.js"></script>

<script>
    var totalprice = 0;
    var adultPrice = 50;
    var juniorPrice = 35;
    var seniorPrice = 40;

    var adultCount = 0;
    var juniorCount = 0;
    var seniorCount = 0;

    $("#adultCount").change(function() {
       adultCount = parseFloat($("#adultCount").val());
    });
    $("#juniorCount").change(function() {
        juniorCount = parseFloat($("#juniorCount").val());
    });
    $("#seniorCount").change(function() {
        seniorCount = parseFloat($("#seniorCount").val());
//        $("#totalPriceTickets").text((($("#adultCount").val()) * adultPrice));
    });

    $("#ticketsForm").change(function() {
        totalprice = ((adultCount * adultPrice) +  (juniorCount * juniorPrice) +  (seniorCount * seniorPrice));
        $("#totalPriceTickets").text(totalprice);
    });


//    $("#JuniorCount").change(function() {
//        $("#totalPriceTickets").html(($("#adultCount").val() * adultPrice) + ($("#JuniorCount").val() * JuniorCount) + ($("#SeniorCount").val() * seniorPrice));
//    });
//
//    $("#SeniorCount").change(function() {
//        $("#totalPriceTickets").html(($("#adultCount").val() * adultPrice) + ($("#JuniorCount").val() * JuniorCount) + ($("#SeniorCount").val() * seniorPrice));
//    });
</script>



