<div id="LoginModal" class="modal">
    <form method="post">
        <div class="modal-content">
            <h4>Login</h4>
            <p>
            <div class="row">
                <div class="col s12 l6 offset-l3">

                    <label for="userNameInput">Username:</label>
                    <input type="text" id="userNameInput" name="userName"</input>
                    <label for="passwordInput">Password:</label>
                    <input type="password" id="passwordInput" name="password"</input>

                </div>
            </div>
            </p>
        </div>
        <div class="modal-footer">
            <input type="submit" name="loginBtn"  class="modal-action modal-close waves-effect waves-green btn" value="Login"">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Register</a>
        </div>
    </form>
</div>