<!-- Modal Structure -->
<div id="LoginModal" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <p>
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <form>
                    <label for="userNameInput">Username:</label>
                    <input type="text" id="userNameInput" name="userName"</input>
                    <label for="passwordInput">Password:</label>
                    <input type="password" id="passwordInput" name="password"</input>
                </form>
            </div>
        </div>

        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Login</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Register</a>
    </div>
</div>