<div id="LoginModal" class="modal">
    <form method="post">
        <div class="modal-content">
            <h4>Login</h4>
            <p>
            <div class="row">
                <div class="col s12 l6 offset-l3">
                    <label for="userNameInput">Username:</label>
                    <input type="text" pattern="[A-Za-z]{4,}" id="userNameInput" name="userName" class="validate">
                    <label for="passwordInput"  >Password:</label>
                    <input type="password" id="passwordInput" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="validate">
                </div>
            </div>
            </p>
        </div>
        <div class="modal-footer">
            <input type="submit" name="loginBtn"  class="modal-action waves-effect waves-green btn" value="Login">
            <input type="submit" name="RegisterBtn"  class="modal-action waves-effect waves-green btn" value="Register">
            <!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Register</a>-->
        </div>
    </form>
</div>

<script>


</script>